.content-section {
  margin: 0;
  width: 100%;
  height: auto;
  background-color: #fff;
}

.content-image{
  border: 3px solid #fff;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.20);
}

.text-center {
  text-align: center;
}

.content-section-text-group {
  display: block;
  width: auto;
  padding: 4em 2em;
}

.content-section-text-group > p {
  width: 70%;
  margin: 0 auto 2em auto;
}
