* {
  margin: 0;
  padding: 0;
  color: #222;
  transition: all 150ms;
  font-size: 1em;
  font-weight: 500;
  font-family: arial;
}

h1 {
  color: #333;
  font-size: 1.7em;
  font-weight: 600;
  font-family: arial;
  display: inline-block;
  margin-bottom: 0.5em;
}

p {
  font-size: 1.3em;
  font-weight: 500;
  font-family: arial;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  /* background-color: #999;; */
  background-image: linear-gradient(to right, #03a9f4, #00897b);
}

@media screen and (max-width: 900px) {
  body {
    /* background-image: linear-gradient(to bottom, #03A9F4, #EC407A, #FFF176); */
  }
}

/* Fade-In Effect */
@keyframes fadeInEffect {
  from {
    opacity: 0;
    transform: translateX(-2em);
  }
  to {
    opacity: 1;
    transform: translateX(0em);
  }
}

/* Fade Effect */
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.nav-menu-drawer {
  width: 20%;
  height: 100vh;
  padding-top: 74px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 901;
  background-image: linear-gradient(to right, #03a9f4, #00897b);
  box-shadow: 10px 0 30px rgba(0, 0, 0, 0.2);
  animation-name: fadeInEffect;
  animation-duration: 600ms;
}

.navbar-menu-drawer-header {
  display: block;
  height: 250px;
  background-color: #fff;
  margin-bottom: 1.1em;
  padding-top: 3em;
  text-align: center;
}

.profile-placeholder {
  display: inline-block;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 auto;
}

.nav-menu-drawer > ul {
  //margin-top: 90px;
}

.nav-menu-drawer > ul > li {
  display: block;
  padding: 1em;
  margin: 0 auto;
  width: 100px;
  color: #fff;
  font-size: 1.5em;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  border-radius: 300px;
  transition: all 200ms ease-in;
}

.nav-menu-drawer > ul > li:hover {
  background-color: #fff;
  color: #03a9f4;
  padding: 1em 140px;
  font-weight: 600;
  border-radius: 0px;
}

.nav-menu-blankspace-wrapper {
  width: 80%;
  height: 100vh;
  padding-top: 100px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  float: right;
  overflow-y: auto;
}

/* Side Navigation Menu : Dark Transparent Background */
.nav-menu-background-close {
  display: none;
}

.nav-menu-background-open {
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 900;

  animation-name: fadeEffect;
  animation-duration: 200ms;
}

/* Top Navigation Bar */
.navbar {
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1em;
  text-align: left;

  background-color: #fafafa;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  z-index: 9999;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar > .header {
  width: auto;
  display: inline-block;
}

.navbar > .header > h1 {
  display: inline-block;
  margin: 0;
  color: #03a9f4;
}

.navbar > .control {
  display: inline-block;
  margin-right: 2.3em;
}

/* Wrapper Component */
.wrapper {
  margin: 3em auto;
  padding: 0;
  width: 1400px;
  max-width: 100%;
  height: auto;
}

/* Header with full-screen style */
.header-fullscreen {
  width: 100%;
  height: 100vh;
  background-color: #555;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-fullscreen > .heading-group {
  text-align: center;
  width: 900px;
  max-width: 80%;
  padding: 3em;
  border: 3px solid #fff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.header-fullscreen > .heading-group > h1 {
  color: #fff;
  font-size: 3.5em;
  font-weight: 600;
  margin-bottom: 0.5em;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

.header-fullscreen > .heading-group > h2 {
  color: #eee;
  font-size: 2.3em;
  font-weight: 300;
  margin-bottom: 0.5em;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

.header-fullscreen > .heading-group > p {
  margin: 0;
  color: #ddd;
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

/* Card Element */
.card {
  max-width: 80%;
  height: 300px;
  padding: 1em;
  margin: 1em auto 3em auto;
  background-color: #fafafa;
  border-radius: 7px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  animation-name: fadeInEffect;
  animation-duration: 1s;
  transition: all 150ms ease-out;
}

.card:hover {
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
  transform: translateY(-0.5em);
}
