.modal-background-open {
  display: block;
  width: 100%;
  height: 100%;
  padding-top: 2em;
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999999;
  animation-name: fadeEffect;
  animation-duration: 200ms;
}

.modal-background-close {
  display: none;
}

.modal-dialog {
  max-width: 90%;
  height: auto;
  margin: 3em auto 3em auto;
  background-color: #fafafa;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  animation-name: fadeInEffect;
  animation-duration: 1s;
  transition: all 150ms ease-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal-dialog-header {
  background-image: linear-gradient(to right, #03a9f4, #00897b);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.modal-dialog-header > h3 {
  color: #fff;
  font-weight: 500;
  font-size: 1.5em;
}

.modal-dialog-body {
  display: block;
  width: auto; 
  min-height: 200px;
  max-height: 700px;
  overflow-y: auto;
  padding: 20px 10px;
  background-color: #fff;
}


.modal-dialog-footer {
  background-color: #efefef;
  padding: 10px 20px;
  text-align: right;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
